{% verbatim %}
<div id="jira" v-cloak>
  
  <label for="select_options_for_source_projects">
    <div v-if="are_source_users_loading" class="nyan-cat"></div>
    <select v-else v-model="source_project" @change="checked_all = false" id="select_options_for_source_projects">
      <option v-for="project in select_options_for_source_projects" :value="project.key">{{ project.name }}</option>
    </select>
  </label>

  <br>
  <br>

  <div class="wrapper-from-to">
    <label for="from">
      from: <input type="date" v-model="from" @change="dateFromWasChanged($event.target.value)" id="from">
    </label>
    <label for="to">
      &nbsp;&nbsp;to: <input type="date" v-model="to" @change="dateToWasChanged($event.target.value)" id="to">
    </label>
  </div>

  <br>
  <br>

  <transition name="bounce-source-users">
    <label v-if="source_project && from && to" for="select_options_for_source_users">
      <div v-if="are_source_users_loading"  class="nyan-cat"></div>
      <select v-else v-model="source_user" @change="checked_all = false" id="select_options_for_source_users">
        <option v-for="user in select_options_for_source_users" :value="user.accountId">{{ user.displayName }}</option>
      </select>
    </label>
  </transition>

  <div class="wrapper-tools">
    
    <transition name="bounce-wrapper-select-all">
      <div v-if="source_project && from && to && source_user" class="wrapper-select-all">
        <label for="select-all" class="select-all-label">
        <input id="select-all" type="checkbox" @change="handleCheckAllCheckbox()" :checked="checked_all" class="select-all-input">
        select all
        </label>
      </div>
    </transition>

    <transition name="bounce-wrapper-select-all-not-duplicated">
      <div v-if="source_project && from && to && source_user" class="wrapper-select-all-not-duplicated">
        <label for="select-not-duplicated" class="select-all-not-duplicated-label">
        <input id="select-not-duplicated" type="checkbox" @change="handleCheckAllNotDuplicatedCheckbox()"
        :checked="checked_all_not_duplicated" class="select-all-not-duplicated-input">
        select all not duplicated
        </label>
      </div>
    </transition>

    <transition name="bounce-legend-duplicated">
      <div v-if="source_project && from && to && source_user" class="legend-duplicated" @mouseover="low_opacity_for_duplicated = true" @mouseleave="low_opacity_for_duplicated = false">
        <span class="legend-duplicated-text">&#9632;</span> - not logged yet
      </div>
    </transition>

    <transition name="bounce-legend-not-duplicated">
      <div v-if="source_project && from && to && source_user" class="legend-not-duplicated" @mouseover="low_opacity_for_not_duplicated = true" @mouseleave="low_opacity_for_not_duplicated = false">
        <span class="legend-not-duplicated-text">&#9632;</span> - already logged
      </div>
    </transition>

  </div>
  <div v-if="everything_is_loaded">
    
    <transition name="bounce-table-data">
      <table v-if="source_project && from && to && source_user">
        <thead>
          <tr v-for="heading in table_headings">
            <th></th>
            <th>{{ heading[1] }}</th>
            <th>{{ heading[2] }}</th>
            <th>{{ heading[3] }}</th>
            <th>{{ heading[4] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, row_index) in table_rows" :class="{'make-me-orange': row.is_duplicate, 'make-me-invisible': (row.is_duplicate && low_opacity_for_duplicated || !row.is_duplicate && low_opacity_for_not_duplicated)}">
            <td>
              <input type="checkbox" :checked="row.checked" @input="rowWasClicked(row_index)">
            </td>
            <td>
              {{ row.worklogId }}
            </td>
            <td>
              {{ row.taskId }}
            </td>
            <td>
              <input type="text" v-model="row.taskDescription">
            </td>
            <td>
              {{ row.loggedTime }}
            </td>
          </tr>
        </tbody>
      </table>
    </transition>

  </div>

  <br>
  <br>

  <transition name="bounce-target-project">
    <label v-if="source_project && from && to && source_user && any_checked" for="select_options_for_target_projects">
      <div v-if="are_target_projects_loading"  class="nyan-cat"></div>
      <select v-else v-model="target_project" id="select_options_for_target_projects">
        <option v-for="project in select_options_for_target_projects" :value="project.key">{{ project.name }}</option>
      </select>
    </label>
  </transition>
  
  <br>
  <br>

  <transition name="bounce-target-user">
    <label v-if="source_project && from && to && source_user && any_checked && target_project" for="select_options_for_target_user">
      <div v-if="are_target_users_loading" class="nyan-cat"></div>
      <div v-else>
        <select v-model="target_user" id="select_options_for_target_user">
          <option v-for="user in select_options_for_target_users" :value="user.accountId">{{ user.displayName }}</option>
        </select>
      </div>
    </label>
  </transition>

  <br>
  <br>
  
  <transition name="bounce-email">
    <label v-if="source_project && from && to && source_user && any_checked && target_project && target_user" for="email">
      <input type="email" v-model="target_email" id="email" placeholder="target user email">
    </label>
  </transition>

  <br>
  <br>

  <transition name="bounce-token">
    <label v-if="source_project && from && to && source_user && any_checked && target_project && target_user && validateEmail(target_email)" for="token">
      <input type="text" v-model="target_token" id="token" placeholder="target user token">
    </label>
  </transition>

  <br>
  <br>

  <transition name="bounce-target-user">
    <label v-if="source_project && from && to && source_user && any_checked && target_project && target_user && validateEmail(target_email) && target_token && target_token.length > 23" for="select_options_for_target_issues">
      <div v-if="are_target_issues_loading" class="nyan-cat"></div>
      <div v-else>
        <select v-model="target_issue" id="select_options_for_target_issues">
          <option v-for="issue in select_options_for_target_issues" :value="issue.id">{{ issue.key }}</option>
        </select>
      </div>
    </label>
  </transition>

  <br>
  <br>

  <transition name="bounce-submit">
    <button v-if="source_project && from && to && source_user && any_checked && target_project && target_user && validateEmail(target_email) && target_token && target_token.length > 23 && target_issue" @click="submit">Submit</button>
  </transition>
</div>
{% endverbatim %}
